body{
    margin: 0px;
}
#header{
    border: 1px solid red;
    width:100%;
    height: 80px;
    color: wheat;
    font-size: 20px;
    text-decoration: underline;
    border-radius: 5px solid red;
    text-align: center;
    padding-top:8px;
    margin-top: -28px;
    background-color: #50504b;
    
}
.searchBox{
    display: flex;
    justify-content: center;
    position:absolute;

}
.searchText{
    border: 1px solid red;
    margin-top: 25px;
    padding-left:20px;
    margin-left: 780px;
    width:0px;
    height:0px;
    border-radius:50px;
    border: none;
    outline: none;
    background-color:rgb(243, 244, 244);
    transition: all 0.2 linear;

}
.searchText:focus{
    outline: none;
   
}
.searchbtn{
    border-radius: 50px;
    width:40px;
    
    height:40px;
    background-color:rgb(252, 220, 220);
    color: rgba(202, 20, 20, 0.852);
    position:absolute;
    margin-left: 1050px;
    margin-top: 31px;
    display: grid;
    place-items: center;

}
.searchBox:hover > .searchText{
    width: 300px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.searchBox:hover > .searchText{
    background-color: #fff;
    color: blue;
}

.cartIcon{
   border: none;
    width: 30px;
    height: 30px;
    margin-left:5px;
}
.cartbtn{
    border: none;
}
.loginIcon{
    border: none;
    width: 30px;
    height: 30px;
    margin-left: 10px;

}
.loginbtn{
    border: none;
}
#navbar{
    text-align: center;
    height: 110px;
    border: 1px solid gray;
    background-color: #f9f6f6;
    display: flex;
    justify-content: space-around;
    padding-top:20px;
    margin-top: -20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: sticky;
    top: 0px;
    z-index: 1;
    background:white;

}
.menubtn{
    border: none;

}
.menuIcon{
    margin-top: 20px;
    border: none;
    width: 60px;
    height: 60px;
    margin-left: -80px;
    
}
.trackingIcon{
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 50px;
    
}
.logobtn{
    border: none;
}
.logoIcon{
    width: 300px;
    height: 100px;
    margin-left: 200px;
}
#tpart{ 
   margin-top: 35px;
    margin-right: 5px;
    
}

/* --------------------------- */


#signIn{
    
    width: 50%;
    height: auto;
    text-align: center;
    margin-left: 25%;
    margin-right: 20px;
}
#fbs{
   display: flex;
   justify-content: center;
   background-color: #000dff;
   width: 60%;
   margin-left: 20%;
   margin-top: 5%;
   
   
}
#gs{
    display: flex;
    justify-content: center;
    background-color: #fe3523;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 5%;
 
    
}
img{
    margin-left: 10px;
    gap: none;
    height: 50px;

    
}
#fbs-btn{
    width: 100%;
    background-color: #000dff;
    border: none;
    margin-top: 15px;
    margin-right:50px;
    font-weight:bold;
    color: wheat;
    font-size: 20px;
    
    
}
#gs-btn{
    width: 100%;
    background-color: #fe3523;
    border: none;
    margin-top: 15px;
    margin-right:40px;
    font-weight:bold;
    color: wheat;
    font-size: 20px;
}
input{
    width: 40%;
    height:50px; 
    border: none;
    margin-bottom: 10px;
    background-color: beige;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.create-btn{
    width: 20%;
    height:50px;
    margin: 30px;
    background-color: aqua;
    border: none;
    color: rgb(126, 71, 132);
    font-size: 20px;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
h1{
    width:40%;
    margin-left: 30%;
    padding: 20px;
    color:burlywood;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
h3{
    color: rgb(3, 130, 88);
    margin-bottom: 5px;
 
    padding:inherit;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
a{
    text-decoration: none;
}
h2{
    margin-bottom: 10%;
}