
*{  
    margin: 0;
    padding: 0;
    user-select: none;
    color: rgb(171, 21, 21);
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

.sidebar{
    margin-top: 20px;
    width:40%;
    height:500px;
    overflow: scroll;
    margin-left:20px;
    background-color: rgb(205, 202, 198);
}
.sidebar ul li{
    line-height: 60px;
    
}
.sidebar ul li a{
   position: relative;
    color: rgb(163, 78, 33);
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    
}
.sidebar ul li a:hover{
 
    color:rgb(20, 166, 73);
    background: rgb(208, 168, 168);
    border-left-color: rgb(41, 193, 193);
}
.sidebar ul ul{ 
    position: static;   
}

.sidebar ul ul li{
  
 line-height:60px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sidebar ul ul li a{
    
    font-size:19px;
    color: rgb(60, 128, 105);
    line-height: 50px;
    padding-left: 150px;
   
}
img{

    border-radius: 20px;
    height: 400px;
    margin-left:-350%;
    margin-top: 50px;
    background-color: antiquewhite;
}
.in{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
}
.in>p{
   position: relative;
    font-weight:bold;
    margin-right: 10px;
    font-size:20px;
    color: black;
    cursor: pointer;
    text-align: end;
    /* transform: translateY(-10%); */
    margin-top: -60px;
    /* transition: transform 0.4s; */
}
/* p:hover{
    transform: translateY(-10%) rotate(-180deg);
} */

#menu{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    height:510px;
    display: flex;
    justify-content:space-between;
    margin-top: none;

}
#smenu{
    height:200px;
    width: 200px;
}
#in-show{
    display: none;
}
#co-show{
    display: none;
}
#pr-show{
    display: none;
}
#be-show{
    display: none;
}
#pr-show2{
    display: none;
}
